<!-- <button (click)="reset()" class="reset">&larr; new game</button> -->

<section class="words">
  <app-word *ngFor="let word of puzzle.words$ | async" [word]="word"></app-word>
</section>

<section *ngIf="needTaps$ | async" class="tap-guide">
  Tap the letters until they match Wordle
</section>

<section *ngIf="!(needTaps$ | async) && !(hasBeenSolved$ | async)">
  <h2 class="answers-header">
    Possible answers: {{ puzzle.answers$ | async | count | number }}
  </h2>
  <ul class="answers" [class.answers--single]="hasSingleAnswer$ | async">
    <li
      *ngFor="let answer of puzzle.answers$ | async"
      class="answers__item"
      (click)="addWord(answer)"
    >
      {{ answer }}
    </li>
  </ul>
</section>
<section *ngIf="hasBeenSolved$ | async" class="solved">🎉</section>
