@use "../page.scss";

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0 0 0.25em;
}

.theme-switcher {
  background: none;
  border: solid 1px var(--link-color);
  color: var(--link-color);
  position: sticky;
  top: 100%;
  left: 1em;
}
