.form {
  display: block;
  max-width: 21.5rem;
  margin: 0 auto 2rem;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.125em 0.75ch;
  font-size: 2.5em;
  font-family: var(--font-headings);
  text-align: center;
  display: block;
  margin: 0.25em 0;
  border: solid 1px var(--letter-border);
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 5px;

  &::placeholder {
    color: var(--placeholder);
  }

  &:focus {
    outline: none;
    border-color: var(--text-color);
  }
}

.submit {
  box-sizing: border-box;
  width: 100%;
  padding: 0.125em 0.75ch;
  border: none;
  background: var(--submit-bg);
  color: var(--submit-color);
  font-size: 2em;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    filter: grayscale(0.5);
    cursor: not-allowed;
  }
}

.warning {
  text-align: center;
  margin: 1rem 0 0;
}

.last-starting-word-section {
  text-align: center;
  margin: 0 0 1em;
}

.last-starting-word {
  display: block;
  width: 5ch;
  margin: 0 auto;
  border: none;
  background: none;
  font-size: 1.5em;
  padding: 0.25ch 1ch;
  box-sizing: content-box;
  cursor: pointer;
  color: var(--link-color);

  &:hover {
    background-color: var(--bg-hover);
  }
}
