<form class="form" (submit)="claimStartingWord()">
  <input
    class="input"
    type="text"
    maxlength="5"
    name="word"
    [value]="word$ | async"
    (input)="setInput($event)"
    autocomplete="off"
    autocapitalize="characters"
    autofocus="true"
    placeholder="STARTING WORD"
  />

  <button
    type="submit"
    class="submit"
    [disabled]="!(hasEnteredValidWord$ | async)"
  >
    Begin
  </button>

  <section class="warning" *ngIf="isNotAPossibleAnswer$ | async">
    ⚠️ "{{ word$ | async }}" is not a possible answer
  </section>
</form>

<section *ngIf="!!lastStartingWord" class="last-starting-word-section">
  last used starting word
  <button
    class="last-starting-word"
    (click)="claimStartingWord(lastStartingWord)"
  >
    {{ lastStartingWord }}
  </button>
</section>
