.letter {
  display: inline-block;
  $size: 1.5em;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px var(--letter-border);
  background: var(--letter-unset);
  color: var(--helper-text-color);
  font-weight: 700;
  font-size: 2.5em;
  font-family: var(--font-headings);

  &--excluded,
  &--missplaced,
  &--found {
    color: var(--letter-active-text-color);
    border-color: transparent;
  }

  &--excluded {
    background-color: var(--letter-excluded);
  }

  &--missplaced {
    background-color: var(--letter-missplaced);
  }

  &--found {
    background-color: var(--letter-found);
  }
}
