.letter {
  display: inline-block;
  width: 1ch;
  height: 1ch;
  line-height: 1ch;
  text-align: center;
  padding: 0.75ch;
  border: solid 1px #ccc;
  background: #fff;
  color: #333;
  font-weight: 700;
  font-size: 2.5em;
  font-family: var(--font-headings);

  &--excluded {
    color: #ccc;
    background-color: #333;
    border-color: transparent;
  }

  &--missplaced {
    // color: #ccc;
    background-color: rgb(213, 255, 73);
    border-color: #00000022;
  }

  &--found {
    color: #fff;
    background-color: rgb(51, 197, 51);
    border-color: transparent;
  }
}
