html,
body {
  padding: 0;
  margin: 0;
}

body,
.theme--light {
  --font-headings: "Chakra Petch", sans-serif;
  --font: "Open Sans", sans-serif;
  --text-color: #333;
  --placeholder: #00000033;
  --bg-color: #eee;
  --bg-hover: #ddd;
  --link-color: #09f;
  --text-invert: #eee;
  --bg-invert: #333;
}

body {
  display: grid;
  min-height: 100vh;

  font-family: var(--font);
  color: var(--text-color);
}

input,
textarea,
button,
select {
  font-family: inherit;
  color: inherit;
}

.theme--dark {
  --text-color: #eee;
  --placeholder: #ffffff33;
  --bg-color: #101010;
  --link-color: #090;
  --bg-hover: #333;
  --text-invert: #333;
  --bg-invert: #eee;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  font-weight: normal;
  margin: 0;
  padding: 0;
}
